<article class="question">
		<div class=(concat "question-icon tag_" {{tag.[0]}})>
			<p>?</p>
		</div>

        <button type="button" id="create-comment-button"><img src="/img/speech-bubble.png"></button>

		<div class="question-content">
			<p class="question-author">{{author}}</p>
			<p class="question-text">
				{{title}}
			</p>
            <p class="question-details">{{text}}</p>

            <div class="tags">
				{{#each page}}
				<a href="#">
					{{convertTag this}}
				</a>
				{{/each}}
			</div>
			 
		</div>
	</article>