<article class="question">
		<div class="question-icon tag_{{page}}">
			<p>?</p>
		</div>
		<div class="question-content">
			<p class="question-author">{{userID}}</p>
			<a href="/{{_id}}">
				<p class="question-text">
					{{title}}
				</p>
			</a>

			<div class="tags">
				{{#each page}}
				<a href="#">
					{{convertTag this}}
				</a>
				{{/each}}
			</div>
			
		</div>
	</article>
